<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/admin.css" />
    <title>Admin</title>
  </head>
  <body>
    <header>
      <h1>Admin</h1>
      <p>Welcome <%= login %></p>
      <form action="/logOut" method="post">
        <button type="submit">Log Out</button>
      </form>
    </header>
    <main>
      <% contacts.forEach(contact => { %>
      <div class="container1">
        <form action="/admin/editContacts/<%= contact._id %>" method="post">
          <input
            type="text"
            name="phone"
            placeholder="Phone"
            value="<%= contact.phone %>"
          />
          <input
            type="email"
            name="email"
            placeholder="Email"
            value="<%= contact.email %>"
          />
          <button type="submit">Add Changes</button>
        </form>
      </div>

      <% }); %>
      <hr />
      <br />
      <!-- edit cards and delete-->
      <% if (cards.length > 0) { %> <% cards.forEach(card => { %>
      <div class="container1">
        <form action="/admin/editCards/<%= card._id %>" method="post">
          <input
            type="text"
            name="image"
            placeholder="Enter Image Url"
            value="<%= card.image %>"
          />
          <input
            type="text"
            name="title"
            placeholder="Enter Title"
            value="<%= card.title %>"
          />
          <input
            type="text"
            name="description"
            placeholder="Enter Description"
            value="<%= card.description %>"
          />
          <input
            type="text"
            name="link"
            placeholder="Link"
            value="<%= card.link %>"
          />
          <button type="submit">Add Changes</button>
        </form>
        <!-- delete card -->
        <form action="/admin/deleteCards/<%= card._id %>" method="post">
          <button type="submit">Delete</button>
        </form>
      </div>
      <% }); %> <% } else { %>
      <p>No cards found</p>
      <% } %>
      <!-- end of edit cards -->

      <!-- add new card -->
      <hr />
      <div class="container2">
        <h1>Add New</h1>
        <form action="/admin/addCards" method="post">
          <input
            type="text"
            name="image"
            placeholder="Enter Image Url"
            required
          />
          <input
            type="text"
            name="title"
            placeholder="Enter Title"
            maxlength="20"
            required
          />
          <input
            type="text"
            name="description"
            placeholder="Enter Description"
            required
          />
          <input type="text" name="link" placeholder="Link" required />
          <button type="submit">Add Card</button>
        </form>
      </div>
      <!-- end of add new card -->

      <!-- add new skill -->
      <div class="container3">
        <h1>Add New Skill</h1>
        <form action="/admin/addSkill" method="post">
          <input type="text" name="logo" placeholder="Enter URL" required />
          <input type="text" name="title" placeholder="Enter Title" required />
          <input
            type="text"
            name="description"
            placeholder="Enter Description"
            required
          />
          <button type="submit">Add Skill</button>
        </form>
      </div>
      <!-- end of add new skill -->
    </main>
  </body>
</html>
