<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/admin.css" />
    <link rel="stylesheet" href="assets/style.css" />
    <title>Admin</title>
  </head>
  <body>
    <header>
      <h1>Admin</h1>
      <p>Welcome <%= login %></p>
      <form action="/logOut" method="post">
        <button type="submit">Log Out</button>
      </form>
    </header>
    <main>
      <% contacts.forEach(contact => { %>
      <div class="background-color"><h1>Edit Contacts</h1></div>

      <div class="container1">
        <form action="/admin/editContacts/<%= contact._id %>" method="post">
          <input
            type="text"
            name="phone"
            placeholder="Phone"
            value="<%= contact.phone %>"
          />
          <input
            type="email"
            name="email"
            placeholder="Email"
            value="<%= contact.email %>"
          />
          <button type="submit">Add Changes</button>
        </form>
      </div>

      <% }); %>
      <hr />
      <br />
      <div class="background-color"><h1>Edit and Delete Card</h1></div>
      <div class="portfolio" id="portfolio">
        <div class="portfo-items">
          <!-- portfolio -->
          <% if (cards.length > 0) { %> <% cards.forEach(card => { %>
          <div class="item">
            <img src="<%= card.image %>" />
            <form action="/admin/editCards/<%= card._id %>" method="post">
              <div class="inputs">
                <p>Image</p>
                <input
                  type="text"
                  name="image"
                  placeholder="Enter Image Url"
                  value="<%= card.image %>"
                />
                <p>Title</p>
                <input
                  type="text"
                  name="title"
                  placeholder="Enter Title"
                  value="<%= card.title %>"
                />
                <p>Description</p>
                <input
                  type="text"
                  name="description"
                  placeholder="Enter Description"
                  value="<%= card.description %>"
                />
                <p>Link</p>
                <input
                  type="text"
                  name="link"
                  placeholder="Link"
                  value="<%= card.link %>"
                />
              </div>

              <button type="submit">Add Changes</button>
            </form>
            <form action="/admin/deleteCards/<%= card._id %>" method="post">
              <button type="submit">Delete</button>
            </form>
          </div>
          <% }); %> <% } else { %>
          <h3>No cards yet</h3>
          <% } %>
        </div>
      </div>
      <!-- end of portfolio -->
      <hr />
      <!-- add new card -->
      <hr />

      <div class="background-color"><h1>Add New Cards</h1></div>
      <div class="container2">
        <form action="/admin/addCards" method="post">
          <input
            type="text"
            name="image"
            placeholder="Enter Image Url"
            required
          />
          <input
            type="text"
            name="title"
            placeholder="Enter Title"
            maxlength="20"
            required
          />
          <input
            type="text"
            name="description"
            placeholder="Enter Description"
            required
          />
          <input type="text" name="link" placeholder="Link" required />
          <button type="submit">Add Card</button>
        </form>
      </div>
      <!-- end of add new card -->

      <!-- add new skill -->
      <div class="background-color"><h1>Add New Skill</h1></div>
      <div class="container3">
        <form action="/admin/addSkill" method="post">
          <input type="text" name="logo" placeholder="Enter URL" required />
          <input type="text" name="title" placeholder="Enter Title" required />
          <input
            type="text"
            name="description"
            placeholder="Enter Description"
            required
          />
          <button type="submit">Add Skill</button>
        </form>
      </div>
      <!-- end of add new skill -->
      <hr />
      <div class="skills" id="skills">
        <div class="skill-item">
          <!-- all skills -->
          <% if (skills.length > 0) { %> <% skills.forEach(skill => { %>
          <div class="item">
            <img src="<%= skill.logo %>" />
          </div>
          <% }); %> <% } else { %>
          <h3>No cards yet</h3>
          <% } %>
        </div>
      </div>
      <!-- end of add new skill -->
    </main>
  </body>
</html>
